@font-face {
  font-family: lemon;
  src: url(./lemon_milk/LEMONMILK-Regular.otf);
}

@font-face {
  font-family: poppins;
  src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Source Code Pro;
  src: url(./Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromFarLeft {
  0% {
    transform: translateX(-250%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromFarTop {
  0% {
    transform: translateY(-250%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes infinite-scroll-animation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes infinite-scroll-animation-2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

@keyframes infinite-scroll-animation-reverse {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes infinite-scroll-animation-reverse-2 {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

html {
  margin: 0;
  overflow-x: hidden;
  background-color: #2c2f33;
}

* {
  margin: 0;
  padding: 0;
}

.outer-div {
  width: 100%;
  height: 100vh;
}

.top {
  width: 100%;
  background-color: #23272a;
  position: relative;
}

.non-bgc {
  display: flex;
}

.middle {
  width: 100%;
  background-color: #2c2f33;
  position: relative;
  box-shadow: 0px -2px 15px black;
}

.bottom {
  width: 100%;
  height: 33%;
  background-color: #23272a;
  position: relative;
  box-shadow: 0px -2px 15px black;
}

.home-link {
  text-decoration: none;
  color: #edeade;
}

.home-link::after {
  content: "";
  display: block;
  margin: left;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.home-link:hover {
  color: #ffffff;
}

.home-link:hover:after {
  width: 100%;
}

.nav-li {
  margin: 0px 10px;
  padding: 0px 30px;
  transition: 1s all ease;
}

.home-btn {
  background-color: transparent;
  border-style: none;
  padding: 10px 0px;
  margin-top: 1vh;
  color: white;
  font-family: lemon;
}

.name-title {
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: lemon;
  margin-left: 5vw;
  margin-right: 50vw;
  margin-top: 1vh;
  font-size: 25px;
  border-radius: 5px;
  padding: 0 5px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  transform: translateZ(0);
  animation: slideInFromTop 0.8s ease;
}

.name-title:hover {
  box-shadow: inset 130px 0 0 0 #ffffff;
  color: black;
}

.nav-options {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 15px;
  background-color: #2c2f33;
  box-shadow: 0px 1px 10px black;
  position: relative;
  z-index: 1;
  animation: slideInFromTop 0.8s ease;
}

.top-div-container {
  max-width: 300px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 130px;
  margin-bottom: 30px;
  border: solid #ffffff;
  transition: 0.3s ease;
}

.top-div-container:hover {
  transform: scale(1.02);
}

.top-upper-h2 {
  color: white;
  text-align: center;
  font-family: lemon;
  font-size: 20px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.top-lower-h2 {
  color: white;
  text-align: center;
  font-family: lemon;
  font-size: 16px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.top-para {
  color: white;
  text-align: center;
  font-family: poppins;
  font-size: 14px;
  margin-bottom: 5px;
}

.top-button {
  background-color: transparent;
  border-style: none;
  margin-top: 10px;
}

.top-button-link {
  text-decoration: none;
  text-align: center;
  color: black;
  background-color: #ffffff;
  padding: 5px 30px;
  font-family: lemon;
  font-size: 15px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, border .3s ease-in-out;
  display: block;
  transform: translateZ(0);
}

.top-button-link:hover {
  box-shadow: inset 140px 0 0 0 black;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 5px;
}

.look-up-dd {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 0.5%;
  z-index: 2;
  animation: slideInFromRight 0.8s ease;
}

.look-up-png {
  height: 800px;
  width: 600px;
  margin-bottom: -50px;
  margin-left: -24px;
  transition: .3s ease;
}

.look-up-png:hover {
  transform: scale(1.05);
}

.left-text-box {
  height: 800px;
  width: 900px;
  background-color: black;
  border: 4px solid #ffffff;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 40px;
  animation: slideInFromLeft 0.8s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
}

.left-text-box:hover {
  transform: scale(1.02);
}

.left-text-box-h1-first {
  color: #ffffff;
  font-family: Source Code Pro, monospace;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 40px;
  width: max-content;
}

.left-text-box-h1-first::before,
.left-text-box-h1-first::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.left-text-box-h1-first::after {
  width: 0.125rem;
  background-color: #ffffff;
  animation: typewriter 5s steps(26) 0.4s forwards,
    blink 500ms steps(26) infinite;
}

.left-text-box-h1-first::before {
  background-color: black;
  animation: typewriter 5s steps(26) 0.4s forwards;
}

.left-text-box-h1-second {
  color: #ffffff;
  font-family: Source Code Pro, monospace;
  position: relative;
  margin-left: 20px;
  font-size: 40px;
  width: max-content;
}

.left-text-box-h1-second::before,
.left-text-box-h1-second::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.left-text-box-h1-second::after {
  width: 0.125rem;
  background-color: #ffffff;
  animation: typewriter 3s steps(19) 6s forwards,
    blink 500ms steps(19) 6s infinite;
}

.left-text-box-h1-second::before {
  background-color: black;
  animation: typewriter 3s steps(19) 6s forwards;
}

.left-text-box-h1-third {
  color: #ffffff;
  font-family: Source Code Pro, monospace;
  position: relative;
  margin-left: 20px;
  font-size: 40px;
  width: max-content;
}

.left-text-box-h1-third::before,
.left-text-box-h1-third::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.left-text-box-h1-third::after {
  width: 0.125rem;
  background-color: #ffffff;
  animation: typewriter 3s steps(11) 9s forwards,
    blink 500ms steps(11) 9s infinite;
}

.left-text-box-h1-third::before {
  background-color: black;
  animation: typewriter 3s steps(11) 9s forwards;
}

.left-text-box-image {
  height: 450px;
  width: 450px;
  margin-top: 80px;
}

.spacer {
  width: 100%;
  background: none;
}

.layer1 {
  margin-top: -150px;
  z-index: 3;
  position: relative;
}

.middle-title {
  color: #ffffff;
  text-align: center;
  position: relative;
  margin-top: -250px;
  font-family: lemon;
  font-size: 35px;
  text-decoration: underline;
  margin-bottom: 10px;
}

.middle-title-animation {
  animation: slideInFromFarTop 1s ease, fadeIn 1s ease;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 50px 0;
}

.middle-boxes {
  width: 350px;
  height: 450px;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 95px;
  margin-bottom: 30px;
  border: 3px solid #ffffff;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
}

.middle-boxes:hover {
  width: 370px;
  height: 470px;
}

.middle-boxes:nth-child(2) {
  animation-delay: 200ms;
}

.middle-boxes:nth-child(3) {
  animation-delay: 400ms;
}

.middle-boxes-animation {
  animation: slideInFromFarLeft 2s ease both, fadeIn 2s ease both;
}

.middle-box-paras {
  color: white;
  text-align: center;
  font-family: poppins;
  font-size: 15px;
  margin-bottom: 5px;
  max-width: 260px;
}

.middle-box-h2 {
  color: white;
  text-align: center;
  font-family: lemon;
  font-size: 25px;
  margin-bottom: 20px;
}

.layer1-reverse {
  margin-top: 50px;
  position: relative;
  transform: rotateX(180deg);
  margin: -5px 0;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: -250px;
  font-family: 'Poppins', sans-serif;
  animation: slideInFromRight 1s ease;
}

section .infinite-scroll {
  width: 100%;
  display: flex;
}

section .infinite-scroll-reverse {
  width: 100%;
  display: flex;
}

section .infinite-scroll div {
  color: #000000;
  font-size: 2em;
  background: #ffffff;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  animation: infinite-scroll-animation 40s linear infinite
}

section .infinite-scroll-reverse div {
  color: #000000;
  font-size: 3em;
  background: #ffffff;
  white-space: nowrap;
  font-weight: 900;
  text-transform: uppercase;
  animation: infinite-scroll-animation-reverse 40s linear infinite
}

section .infinite-scroll div:nth-child(2) {
  animation: infinite-scroll-animation-2 40s linear infinite;
  animation-delay: -20s;
}

section .infinite-scroll-reverse div:nth-child(2) {
  animation: infinite-scroll-animation-reverse-2 40s linear infinite;
  animation-delay: -20s;
}

section .infinite-scroll div span {
  -webkit-text-stroke: 0.5px #000;
  color: transparent;
}

section .infinite-scroll-reverse div span {
  -webkit-text-stroke: 0.5px #000;
  color: transparent;
}

.bottom-icons-wrapper {
  font-family: 'Poppins', sans-serif;
  display: inline-flex;
  list-style: none;
}

.bottom-icons-wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bottom-icons-wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 0.8rem;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bottom-icons-wrapper .tooltip::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bottom-icons-wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.bottom-icons-wrapper .icon:hover span,
.bottom-icons-wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.bottom-icons-wrapper .email:hover,
.bottom-icons-wrapper .email:hover .tooltip,
.bottom-icons-wrapper .email:hover .tooltip::before {
  background: #000;
  color: #fff;
}

.bottom-icons-wrapper .phone:hover,
.bottom-icons-wrapper .phone:hover .tooltip,
.bottom-icons-wrapper .phone:hover .tooltip::before {
  background: #000;
  color: #fff;
}

.bottom-icons-wrapper .snapchat:hover,
.bottom-icons-wrapper .snapchat:hover .tooltip,
.bottom-icons-wrapper .snapchat:hover .tooltip::before {
  background: #000;
  color: #fff;
}

.bottom-icons-wrapper .fiverr:hover,
.bottom-icons-wrapper .fiverr:hover .tooltip,
.bottom-icons-wrapper .fiverr:hover .tooltip::before {
  background: #000;
  color: #fff;
}